.Header{
    background-color: crimson;
}

.jogo__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: #63458a;
    padding-right: 30px;
    background-color: rgb(201, 200, 200);
  }
.jogo__perfil{
    padding: 4rem 0;
}

.jogo__box > div {
    max-width: 200px;
    margin: 5rem;
}

.jogo__perfil p {
    font-size: 1.5rem;
    margin-top: 1rem;
}
