.texto {
    height: 100%;
    width: 100%;
    margin: 2rem;

  }

  .principal{
    margin: 2%;
    width: 90%;
    height: 90%;
    

  }

  .titulo{
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      text-align: center;
      color: #0a0a0a;
      padding-right: 40px;
      margin-right: 0;
  }
  
  .texto h3 {
    text-align: center;
    text-justify:inherit;
    margin: 280px auto;
    width: 550px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1 rem;
  }

  .imagelogo{
  margin: 10px;
  width: 55%;
  height: 70vh;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  background-image: -moz-linear-gradient(255 200 155);
}

  .declaracao{
    align-items: center;
    
  }

  .button{
    padding:5%;
    height: 10em;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    cursor: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    
  }


  @media (max-width: 420px){
  .principal{

    width: 100%;
    height: 100%;
    text-align: auto;
    align-items: center;
    
  }

  .declaracao{
    width: 100%;
    height: 100%;
   align-items: center;
   
  }

  .button{
    width: 100%;
    height: 100%;
    align-items: center;
  
  }
  .cartao{
  width: 100%;
  height: 100%;
  align-items: center;
  }
  }

