.texto {
    height: 280px;
    margin: 2rem;

  }

  .principal{
    margin: 4%;
    width: 100%;
    height: 100%;

  }

  .titulo{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      color: #0a0a0a;
      padding-right: 30px;
  }
  
  .texto h3 {
    text-align: center;
    text-justify:inherit;
    margin: 280px auto;
    width: 550px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1 rem;
  }

  .imagelogo{
  margin: 10px;
  width: 55%;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  }

  .declaracao{
    align-items: center;
  }

  .saibaMais{
    padding:5%;
  }


  @media (max-width: 420px){
  .principal{
    background-color: chocolate;
    width: 100%;
    height: 100%;
  }

  .declaracao{
    width: 100%;
    height: 100%;
    background-color: crimson;
  }

  .saibaMais{
    width: 100%;
    height: 100%;
  
  }
  .cartao{
  width: 100%;
  height: 100%;
  }
  }

