.footer {
    background-color: rgb(226, 198, 174);
    color: #e75322;
    text-align: center;
    height: 100%;
    width: 100%;
    display:flex;
    left: 0;
    bottom: 0;
    padding-top:auto;
}