.navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background: rgb(226, 198, 174);
    font-size: 24px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(105, 98, 98, 0.2);
    width: auto;
    height:40 px;
}
  .navbar a {
    color:#e75322;
    text-align: center;
    text-decoration: none;
  }
  
  ul li{
    list-style: none;
  }
  